
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <title>登陆</title>
    <style>
        .center {
            margin-top: 25%;
        }

        @@media screen and (min-width:960px) {
            .center {
                margin-left: 25%;
            }
        }

        .BackImg {
            background-image: "";
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 center">
                <div class="form-group">
                    <input class="form-control" placeholder="请输入用户名" type="text" />
                </div>

                <div class="form-group">
                    <input class="form-control" placeholder="请输入密码" type="password" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block">登陆</button>
                    <a class="btn btn-primary btn-block" href="@Url.Action("Register")">注册</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
